<!DOCTYPE html>
<html>

<head>
    <title>Job Matching</title>
</head>

<body>

<h1>Job Matching</h1>

<form method="POST">

    <label>Job Title</label><br>

    <input
        type="text"
        name="job_title"
        required>

    <br><br>

    <label>Required Skills</label><br>

    <textarea
        name="skills"
        rows="8"
        cols="60"
        placeholder="Python, Flask, SQL, HTML, CSS"
        required></textarea>

    <br><br>

    <button type="submit">
        Check Resume
    </button>

</form>

</body>
</html>