body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

nav{
    background:#1f4e79;
    padding:15px;
}

nav h2{
    color:white;
    display:inline;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.container{
    width:80%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:8px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    background:#1f4e79;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

button:hover{
    background:#163b5c;
}

.stats{

display:flex;

flex-wrap:wrap;

gap:20px;

margin-top:30px;

margin-bottom:30px;

}

.card{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 4px 8px rgba(0,0,0,0.2);

width:220px;

text-align:center;

}

.card h1{

font-size:40px;

color:#007BFF;

}

.card h2{

font-size:20px;

}