<!DOCTYPE html>
<html>
<head>

<title>Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

<a href="/">Home</a>

<a href="/upload">Upload Resume</a>

<a href="/logout">Logout</a>

</nav>

<div class="container">

<h1>Welcome {{ username }}</h1>

<p>You have successfully logged in.</p>

<a href="/upload">
<button>Upload Resume</button>
</a>

<h2>Your Uploaded Resumes</h2>

{% if resumes %}

<ul>

{% for resume in resumes %}

<li>{{ resume.filename }}</li>

{% endfor %}

</ul>

{% else %}

<p>No resumes uploaded yet.</p>

{% endif %}

<a href="{{ url_for('add_job') }}">
    <button>Add Job</button>
</a>

<a href="{{ url_for('jobs') }}">
    <button>View Jobs</button>
</a>

</div>

</body>

</html>