<!DOCTYPE html>
<html>
<head>

<title>Register</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

<a href="/">Home</a>
<a href="/login">Login</a>
<a href="/register">Register</a>

</nav>

<div class="container">

<h1>Create Account</h1>

<form>

<input type="text" placeholder="Full Name">

<input type="email" placeholder="Email">

<input type="password" placeholder="Password">

<button>Register</button>

</form>

</div>

</body>
</html>